body {
  position: relative;
  font-family: "Dosis", sans-serif;
}

.clear {
  clear: both;
}
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.np {
  padding: 0 !important;
}
.nm {
  margin: 0 !important;
}
.nb {
  border: none !important;
}
.overflow {
  overflow: hidden;
}
.nb.collection li {
  border: none !important;
}

.gradient {
  background-image: linear-gradient(
    to right top,
    #340f8a,
    #3526a2,
    #3239ba,
    #294cd2,
    #125feb
  );
}
.gradient2 {
  background-image: linear-gradient(
    to left bottom,
    #3b4eff,
    #853ce6,
    #a829cc,
    #be14b3,
    #ca059a
  );
}

.capitilize {
  text-transform: uppercase !important;
}
.nooverflow {
  overflow: hidden;
}
.bold {
  font-weight: bold;
}
.nobold {
  font-weight: normal;
}
.uppercase {
  text-transform: uppercase;
}
.no-hover {
  background: none !important;
}
.round {
  border-radius: 4px;
}

/*PROFILE LOGOS*/
.profile-logo {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.profile-logo img {
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .profile-logo {
    height: 150px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .profile-logo {
    height: 120px;
  }
}
@media screen and (min-width: 800px) and (max-width: 992px) {
  .profile-logo {
    height: 220px;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .profile-logo {
    height: 150px;
  }
}
@media screen and (min-width: 450px) and (max-width: 600px) {
  .profile-logo {
    height: 160px;
  }
}
@media screen and (min-width: 300px) and (max-width: 450px) {
  .profile-logo {
    height: 120px;
  }
}

/*text font size*/
.xxl-text {
  font-size: 45px;
}
.xl-text {
  font-size: 32px;
}
.l-text {
  font-size: 20px;
}
.m-text {
  font-size: 16px;
}
.s-text {
  font-size: 12px;
}
/*border*/
.border {
  border: solid 1px #202020;
}
.b-black {
  border-color: #101010;
}
.b-red {
  border-color: #c62828;
}
.b-dimgray {
  border-color: #696969;
}
.b-lite {
  border-color: #adadad;
}
/* Padding Formatting */
.xxl-padding {
  padding: 60px;
}
.xl-padding {
  padding: 30px;
}
.l-padding {
  padding: 15px;
}
.m-padding {
  padding: 10px;
}
.s-padding {
  padding: 5px;
}
.xxl-margin {
  margin: 120px 0;
}
.xl-margin {
  margin: 30px;
}
.l-margin {
  margin: 15px;
}
.m-margin {
  margin: 10px;
}
.s-margin {
  margin: 5px;
}
/* Hover */
.hover-text:hover {
  text-decoration: underline;
}
.hoverme {
  display: none;
}
.at-hoverme:hover .hoverme {
  display: inline;
}
/*no border*/
.noborder {
  border: none !important;
}
/*form overwhite*/
.profile-logo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.profile-logo img {
  margin: 0;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.uiux-logo {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.uiux-logo img {
  margin: 0 auto;
  max-width: 1000px;
  height: auto;
  display: block;
}

.c-logo {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.c-logo img {
  margin: 0 auto;
  max-width: 250px;
  height: auto;
  display: block;
}
.socials img {
  width: 100%;
  max-width: 40px;
}

.img-logo-tool {
  width: 100%;
  float: left;
}
.img-logo-tool img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
